<h1>Edit task</h1>

<%= form_for @task do |f| %>
 <p></p> <%= f.label :title %>
 <p></p> <%= f.text_field :title %>

 <p></p> <%= f.label :details %>
 <p></p> <%= f.text_field :details %>

 <p></p> <%= f.label :completed, "Is the task completed?" %>
 <p></p> <%= f.check_box :completed %>


<p></p>  <%= f.submit "Edit Task" %>
<% end %>

<p><%= link_to "â†©ï¸ Back to list", tasks_path %></p>
