<h1><%= @task.title %></h1>
<h2><%= link_to "Edit the task", edit_task_path %></h2>
<p><%= @task.details %></p>
<p><%="[âœ“] This task is completed" if @task.completed == true %></p>
<p><%="[ð„‚] This task is not completed yet" if @task.completed == false %></p>
<%= link_to "Back to list", tasks_path %>
